<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Music Recommendation Bot</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Welcome to the Music Recommendation Bot</h1>
      <p>
        Click below to authorize Spotify and get personalized music
        recommendations!
      </p>
      <a href="/login" class="btn">Authorize Spotify</a>
    </div>
  </body>
</html>
