<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Recommended Artists</title>
    <link rel="stylesheet" href="/static/css/styles.css" />
  </head>
  <body>
    <div class="container">
      <h1>Your Recommended Artists</h1>
      <ul id="artist-list">
        {% for artist in recommendations %}
        <li>{{ artist }}</li>
        {% endfor %}
      </ul>
      <a href="/" class="btn">Back to Home</a>
    </div>
    <script src="/static/js/script.js"></script>
  </body>
</html>
