# Ignore Python virtual environments

.venv/

# Ignore environment files

.env

# Ignore compiled Python files

**pycache**/
\*.pyc

# Ignore IDE/project configuration files

.idea/

# Ignore logs or temporary files

\*.log
